* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
.mascaraFormulario{
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10,12,16,0.99) 15%, rgba(10, 2, 16, 0.77) 50%, rgba(10,12,16,0.99) 85%);
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    padding: 3%;
    width: 100% ;
}
header a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 15%;
    color: #fff;
}
header a:hover {
    color: #c51111;
    font-size: 110%;
    transition: .5s ease-in-out;
}
header a img {
    height: 4rem;
}
.logoHeader {
    width: max-content;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 6rem;
    height: 100vh;
    width: 100vw;
    
}
/*Div lado esquerdo*/

.container .sobreNos{
    width: 50%;
    color: #fff;
    font-size: 120%;
}

.container .sobreNos .logoMario {
    width: 100%;
}
.container .botaoEntreEmContato {
    color: #fff;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 40%;
    padding: 3%;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    font-size: 70%;
}
.container .botaoEntreEmContato:hover {
    color: #c51111;
    background-color: #fff;
}
.linkZap img {
    height: 60px;
    position: fixed;
    right: 2%;
    bottom: 2%;
}

/*Div lado direito*/
.container .imgMarioLuige{
    width: 35%;
}

.container .caixaVideo {
    position: fixed;
    top: 0;
    z-index: -1;   
    width: 100%;
    height: 100%;
    overflow: hidden; 
}
.container .caixaVideo video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.container .caixaVideo .mascara{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10,12,16,0.99) 15%, rgba(10, 2, 16, 0.368) 50%, rgba(10,12,16,0.99) 85%);
    position: fixed;
    top: 0;
}

.container .marioNS {
    width: 18rem;
    padding: 3rem;
}
.container .luigiNS {
    width: 18rem;
    padding: 3rem;
    text-align: justify;
}
.nossosServicos .container p {
    color: #fff;
    font-size: 1.3rem;
    text-align: justify;
}

.formularioFaleConosco {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 250px;
    position: fixed;
    top: 20%;
    left: -35%;
    transform: translateX(-50%);
    padding: 1%;
    border-radius: 5%;
    transition: 1s ease-in-out;
}
.formularioFaleConosco input {
    border: 1px solid gray;
    background-color: #fff;
    padding: 2%;
    width: 100%;
    font-size: 90%;
}
.formularioFaleConosco button {
    background-color: #c51111;
    color: #fff;
    width: 50%;
    padding: 2%;
    margin-top: 5%;
    font-size: 90%;
}
.formularioFaleConosco textarea{
    width: 100%;
    height: 50%;
    padding: 2%;
    border: 1px solid gray;
    font-size: 90%;
}
@media screen and (max-width: 450px) {
    * {
        font-size: .7rem;
    }
    .container {
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2rem;    
    }
    .container .sobreNos {
        width: 65%;
        color: #fff;
        font-size: 80%;
        text-align: justify;
    }
 
    .container .imgMarioLuige{
       width: 60%;
    }
    .container .botaoEntreEmContato {
        width: 45%;
        padding: 4% 2%;
    }
    .nossosServicos .container p {
        font-size: 1rem;
        text-align: justify;
    }
    .container .marioNS {
        width: 10rem;
        padding: 1rem;
    }
    .container .luigiNS {
        width: 10rem;
        padding: 1rem;
    }
    .linkZap img {
        height: 40px;
    }
    .FormularioFaleConosco button {
        background-color: #c51111;
        color: #fff;
        width: 60%;
        padding: 2%;
        font-size: 90%;
    }

}
@media screen and (min-width: 451px )and (max-width: 1023px) {
    *{
        
        font-size: 100%;
    }
    .container {
        padding: 2rem;    
    }
    .container .sobreNos .logoMario {
        width: 85%;
    }
    .container .imgMarioLuige{
       width: 30%;
    }
    .container .botaoEntreEmContato {
        width: 35%;
        padding: 3% 2%;
        margin-top: 10px;
    }
    
    .linkZap img {
        height: 30px;
    }
    .FormularioFaleConosco button {
        background-color: #c51111;
        color: #fff;
        width: 60%;
        padding: 2%;
        font-size: 90%;
    }
    
}
